Source: squashfs
Section: admin
Priority: optional
Maintainer: Vyatta Package Maintainers <maintainers@vyatta.com>
Build-Depends: cdbs (>= 0.4.23-1.1),
               debhelper (>= 5),
               zlib1g-dev,
               po4a (>= 0.21),
               xsltproc,
               docbook-xsl,
               bzip2,
               docbook-xml,
               zlib1g-dev,
	       libattr1-dev
Standards-Version: 3.7.3
Homepage: http://squashfs.sourceforge.net/

Package: squashfs-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: squashfs-source
Description: Tool to create and append to squashfs filesystems
 Squashfs is a highly compressed read-only filesystem for Linux. It uses zlib
 compression to compress both files, inodes and directories. Inodes in the
 system are very small and all blocks are packed to minimise data overhead.
 Block sizes greater than 4K are supported up to a maximum of 64K.
 .
 Squashfs is intended for general read-only filesystem use, for archival
 use (i.e. in cases where a .tar.gz file may be used), and in constrained
 block device/memory systems (e.g. embedded systems) where low overhead is
 needed.

